{%extends 'all-gallery/base.html'%}

{% block content %}
{{block.super}}
{%for image in images%}
<div class="container">

<div class="row">
  <span id="locations">
    {% for location in locations %}
        <a class="btn btn-outline-info btn-sm" id="btn"
           href="/location/{{location.name}}">{{location.name}}</a>
    {%endfor%}
 </span>
    
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
    <img src="{{image.image.url}}"  alt="Image">
     
    <a href="{% url 'review' %}"> <h4 class="text-center"> {{ image.name }}</h4> </a>
    </div>

  </div>
  

  {% empty %}
  <div class="row">
    <h2 class="text-center">There No Gallerys Here</h2>
  </div>
  {% endfor %}

</div>

{% endblock %}