{%extends 'all-gallery/base.html'%}

{% block content %}
{{block.super}}

<h1>My galaxies</h1>
{%for image in images%}

<div class="row">
    
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
    <img src="{{image.image.url}}" class="img-responsive" alt="Image">
     
    <a href="{% url 'review' %}"> <h2 class="text-center"> {{ image.name }}</h2> </a>
    </div>

  </div>

  {% empty %}
  <div class="row">
    <h2 class="text-center">There No Gallerys Here</h2>
  </div>
  {% endfor %}

</div>
{% endblock %}